In [1]:
import numpy as np

Train_msno_and_label_order=np.load('Train_msno_and_label_order.npy',allow_pickle=True)

In [2]:
import pandas as pd

Train_msno=pd.DataFrame(Train_msno_and_label_order,columns=['msno', 'Label'])

In [3]:
#convert object to integer data type
Train_msno['Label']=Train_msno.Label.astype(int)

In [4]:
Train_msno.head()

                                           msno  Label
0  +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=      0
1  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=      1
2  +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=      1
3  +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=      1
4  ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=      1

## ALL Months:

### Chunk 1:

In [5]:
#There are 410 million rows in user_logs file, read only a part of it to fit in RAM.
import pandas as pd

user_logs=pd.read_csv('user_logs.csv',nrows=80000000)

In [6]:
Train_UL=pd.merge(Train_msno, user_logs, on='msno', how='left')

In [7]:
#keeping NaN is important for sum and mean calculation. Sum, avg and std skips NaN values.

In [7]:
Train_UL

,msno,Label,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150211.0,2.0,0.0,0.0,0.0,105.0,60.0,25033.939
1,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150411.0,0.0,0.0,0.0,0.0,136.0,130.0,33367.720
2,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150603.0,1.0,0.0,0.0,0.0,139.0,128.0,31683.920
3,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150729.0,1.0,0.0,0.0,0.0,106.0,101.0,27200.851
4,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150923.0,0.0,0.0,1.0,0.0,104.0,100.0,27332.639
...,...,...,...,...,...,...,...,...,...,...
49602735,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20150621.0,3.0,0.0,0.0,1.0,10.0,13.0,2929.059
49602736,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20160208.0,70.0,3.0,1.0,4.0,25.0,92.0,8820.611
49602737,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20160813.0,3.0,0.0,0.0,0.0,0.0,3.0,263.889
49602738,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20161207.0,2.0,0.0,0.0,1.0,19.0,22.0,5580.843
49602739,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#left join preserves order of msno. so don't need to sort

### Select user logs on or before dec 31:

In [8]:
#https://stackoverflow.com/questions/38884466/how-to-select-a-range-of-values-in-a-pandas-dataframe-column
Train_UL=Train_UL[Train_UL['date'].le(20161231)]

In [9]:
Train_UL

,msno,Label,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150211.0,2.0,0.0,0.0,0.0,105.0,60.0,25033.939
1,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150411.0,0.0,0.0,0.0,0.0,136.0,130.0,33367.720
2,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150603.0,1.0,0.0,0.0,0.0,139.0,128.0,31683.920
3,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150729.0,1.0,0.0,0.0,0.0,106.0,101.0,27200.851
4,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150923.0,0.0,0.0,1.0,0.0,104.0,100.0,27332.639
...,...,...,...,...,...,...,...,...,...,...
49602734,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20161206.0,1.0,0.0,0.0,0.0,3.0,3.0,1540.965
49602735,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20150621.0,3.0,0.0,0.0,1.0,10.0,13.0,2929.059
49602736,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20160208.0,70.0,3.0,1.0,4.0,25.0,92.0,8820.611
49602737,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20160813.0,3.0,0.0,0.0,0.0,0.0,3.0,263.889
49602738,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20161207.0,2.0,0.0,0.0,1.0,19.0,22.0,5580.843

### Sum features:

In [10]:
user_logs_num25_sum=Train_UL.groupby(['msno'])['num_25'].sum()
user_logs_num50_sum=Train_UL.groupby(['msno'])['num_50'].sum()
user_logs_num75_sum=Train_UL.groupby(['msno'])['num_75'].sum()
user_logs_num985_sum=Train_UL.groupby(['msno'])['num_985'].sum()
user_logs_num100_sum=Train_UL.groupby(['msno'])['num_100'].sum()
user_logs_num_unq_sum=Train_UL.groupby(['msno'])['num_unq'].sum()
user_logs_total_sec_sum=Train_UL.groupby(['msno'])['total_secs'].sum()

In [11]:
user_logs_num25_sum.to_csv('user_logs_num25_sum.csv')
user_logs_num50_sum.to_csv('user_logs_num50_sum.csv')
user_logs_num75_sum.to_csv('user_logs_num75_sum.csv')
user_logs_num985_sum.to_csv('user_logs_num985_sum.csv')
user_logs_num100_sum.to_csv('user_logs_num100_sum.csv')
user_logs_num_unq_sum.to_csv('user_logs_num_unq_sum.csv')
user_logs_total_sec_sum.to_csv('user_logs_total_sec_sum.csv')

### Count features:

In [12]:
#count features
user_logs_num100_mean=Train_UL.groupby(['msno'])['num_100'].count()

In [13]:
user_logs_num100_mean.to_csv('user_logs_num100_mean.csv')

In [14]:
user_logs_num25_sum #only 759625 users info are there in this chunk

msno
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=     126.0
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=      64.0
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=     193.0
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=    1436.0
++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=     270.0
                                                 ...
zzxqpgPX1epGyR3SVRKb3XitWdt+JqDURxV5ea1D7Cg=    1249.0
zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=     349.0
zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=     355.0
zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=      99.0
zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=     252.0
Name: num_25, Length: 759625, dtype: float64

In [15]:
user_logs_num25_sum['+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=']

126.0

In [ ]:
#do for remaining chunks

#### Num100_count:

In [ ]:
#count is common for all the features, so only one is enough. ie: no need for num25_count,num74_count, etc

In [3]:
import pandas as pd

In [3]:
from os import listdir
listdir('Train_copy/Num100_avg')

['user_logs_num100_mean2.csv',
 'user_logs_num100_mean.csv',
 'user_logs_num100_mean5.csv',
 'user_logs_num100_mean6.csv',
 'user_logs_num100_mean3.csv',
 'user_logs_num100_mean4.csv']

In [4]:
#https://stackoverflow.com/a/51118604
from os import listdir

path = 'Train_copy/Num100_avg/'
filepaths = [path+f for f in listdir('Train_copy/Num100_avg') if f.endswith('.csv')]
df = pd.concat(map(pd.read_csv, filepaths))

In [5]:
UL_train_Num100_count=pd.merge(Train_msno['msno'], df.groupby('msno').sum(), on='msno', how='left')

In [6]:
UL_train_Num100_count

                                                msno  num_100
0       +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=    582.0
1       +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=     46.0
2       +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=    550.0
3       +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=    556.0
4       ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=    240.0
...                                              ...      ...
956322  zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=     90.0
956323  zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=    465.0
956324  zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=    181.0
956325  zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=    210.0
956326  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=      NaN

[956327 rows x 2 columns]

In [7]:
np.array(UL_train_Num100_count['num_100'])

array([582.,  46., 550., ..., 181., 210.,  nan])

In [8]:
np.save('UL_train_Num100_count',np.array(UL_train_Num100_count['num_100']))

#### Num100_sum:

In [9]:
listdir('Train_copy/Num100_sum')

['user_logs_num100_sum6.csv',
 'user_logs_num100_sum2.csv',
 'user_logs_num100_sum4.csv',
 'user_logs_num100_sum5.csv',
 'user_logs_num100_sum3.csv',
 'user_logs_num100_sum.csv']

In [10]:
#https://stackoverflow.com/a/51118604
from os import listdir

path = 'Train_copy/Num100_sum/'
filepaths = [path+f for f in listdir('Train_copy/Num100_sum') if f.endswith('.csv')]
df = pd.concat(map(pd.read_csv, filepaths))

In [11]:
UL_train_Num100_sum=pd.merge(Train_msno['msno'], df.groupby('msno').sum(), on='msno', how='left')

In [12]:
UL_train_Num100_sum

                                                msno  num_100
0       +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=  57347.0
1       +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=   1325.0
2       +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=  14095.0
3       +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=  22773.0
4       ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=   4450.0
...                                              ...      ...
956322  zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=   3353.0
956323  zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=  31011.0
956324  zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=   2178.0
956325  zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=   2405.0
956326  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=      NaN

[956327 rows x 2 columns]

In [13]:
np.array(UL_train_Num100_sum['num_100'])

array([57347.,  1325., 14095., ...,  2178.,  2405.,    nan])

In [14]:
np.save('UL_train_Num100_sum',np.array(UL_train_Num100_sum['num_100']))

#### Num25_sum:

In [15]:
listdir('Train_copy/Num25_sum')

['user_logs_num25_sum4.csv',
 'user_logs_num25_sum6.csv',
 'user_logs_num25_sum3.csv',
 'user_logs_num25_sum2.csv',
 'user_logs_num25_sum5.csv',
 'user_logs_num25_sum.csv']

In [16]:
#https://stackoverflow.com/a/51118604
from os import listdir

path = 'Train_copy/Num25_sum/'
filepaths = [path+f for f in listdir('Train_copy/Num25_sum') if f.endswith('.csv')]
df = pd.concat(map(pd.read_csv, filepaths))

In [17]:
UL_train_Num25_sum=pd.merge(Train_msno['msno'], df.groupby('msno').sum(), on='msno', how='left')

In [18]:
UL_train_Num25_sum

                                                msno  num_25
0       +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=   709.0
1       +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=   321.0
2       +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=  1259.0
3       +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=  6211.0
4       ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=  1281.0
...                                              ...     ...
956322  zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=  1547.0
956323  zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=  1944.0
956324  zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=   580.0
956325  zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=  1514.0
956326  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=     NaN

[956327 rows x 2 columns]

In [19]:
np.array(UL_train_Num25_sum['num_25'])

array([ 709.,  321., 1259., ...,  580., 1514.,   nan])

In [20]:
np.save('UL_train_Num25_sum',np.array(UL_train_Num25_sum['num_25']))

#### Num50_sum:

In [21]:
listdir('Train_copy/Num50_sum')

['user_logs_num50_sum5.csv',
 'user_logs_num50_sum6.csv',
 'user_logs_num50_sum.csv',
 'user_logs_num50_sum2.csv',
 'user_logs_num50_sum3.csv',
 'user_logs_num50_sum4.csv']

In [22]:
#https://stackoverflow.com/a/51118604
from os import listdir

path = 'Train_copy/Num50_sum/'
filepaths = [path+f for f in listdir('Train_copy/Num50_sum') if f.endswith('.csv')]
df = pd.concat(map(pd.read_csv, filepaths))

In [23]:
UL_train_Num50_sum=pd.merge(Train_msno['msno'], df.groupby('msno').sum(), on='msno', how='left')

In [24]:
UL_train_Num50_sum

                                                msno  num_50
0       +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=   234.0
1       +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=   159.0
2       +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=   441.0
3       +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=  1958.0
4       ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=   393.0
...                                              ...     ...
956322  zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=   354.0
956323  zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=   727.0
956324  zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=   182.0
956325  zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=   163.0
956326  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=     NaN

[956327 rows x 2 columns]

In [25]:
np.array(UL_train_Num50_sum['num_50'])

array([234., 159., 441., ..., 182., 163.,  nan])

In [26]:
np.save('UL_train_Num50_sum',np.array(UL_train_Num50_sum['num_50']))

#### Num75_sum:

In [27]:
listdir('Train_copy/Num75_sum')

['user_logs_num75_sum.csv',
 'user_logs_num75_sum5.csv',
 'user_logs_num75_sum3.csv',
 'user_logs_num75_sum4.csv',
 'user_logs_num75_sum2.csv',
 'user_logs_num75_sum6.csv']

In [28]:
#https://stackoverflow.com/a/51118604
from os import listdir

path = 'Train_copy/Num75_sum/'
filepaths = [path+f for f in listdir('Train_copy/Num75_sum') if f.endswith('.csv')]
df = pd.concat(map(pd.read_csv, filepaths))

In [29]:
UL_train_Num75_sum=pd.merge(Train_msno['msno'], df.groupby('msno').sum(), on='msno', how='left')

In [30]:
UL_train_Num75_sum

                                                msno  num_75
0       +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=   209.0
1       +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=   148.0
2       +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=   375.0
3       +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=  1333.0
4       ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=   315.0
...                                              ...     ...
956322  zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=   303.0
956323  zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=   689.0
956324  zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=   116.0
956325  zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=   106.0
956326  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=     NaN

[956327 rows x 2 columns]

In [31]:
np.array(UL_train_Num75_sum['num_75'])

array([209., 148., 375., ..., 116., 106.,  nan])

In [32]:
np.save('UL_train_Num75_sum',np.array(UL_train_Num75_sum['num_75']))

#### Num985_sum:

In [33]:
listdir('Train_copy/Num985_sum')

['user_logs_num985_sum5.csv',
 'user_logs_num985_sum2.csv',
 'user_logs_num985_sum.csv',
 'user_logs_num985_sum3.csv',
 'user_logs_num985_sum6.csv',
 'user_logs_num985_sum4.csv']

In [34]:
#https://stackoverflow.com/a/51118604
from os import listdir

path = 'Train_copy/Num985_sum/'
filepaths = [path+f for f in listdir('Train_copy/Num985_sum') if f.endswith('.csv')]
df = pd.concat(map(pd.read_csv, filepaths))

In [35]:
UL_train_Num985_sum=pd.merge(Train_msno['msno'], df.groupby('msno').sum(), on='msno', how='left')

In [36]:
UL_train_Num985_sum

                                                msno  num_985
0       +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=    173.0
1       +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=    243.0
2       +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=    464.0
3       +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=   1274.0
4       ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=    418.0
...                                              ...      ...
956322  zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=    347.0
956323  zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=    633.0
956324  zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=    106.0
956325  zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=    117.0
956326  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=      NaN

[956327 rows x 2 columns]

In [37]:
np.array(UL_train_Num985_sum['num_985'])

array([173., 243., 464., ..., 106., 117.,  nan])

In [38]:
np.save('UL_train_Num985_sum',np.array(UL_train_Num985_sum['num_985']))

#### Num_unq_sum:

In [39]:
from os import listdir

listdir('Train_copy/Num_unq_sum')

['user_logs_num_unq_sum3.csv',
 'user_logs_num_unq_sum4.csv',
 'user_logs_num_unq_sum2.csv',
 'user_logs_num_unq_sum6.csv',
 'user_logs_num_unq_sum.csv',
 'user_logs_num_unq_sum5.csv']

In [40]:
#https://stackoverflow.com/a/51118604
from os import listdir

path = 'Train_copy/Num_unq_sum/'
filepaths = [path+f for f in listdir('Train_copy/Num_unq_sum') if f.endswith('.csv')]
df = pd.concat(map(pd.read_csv, filepaths))

In [41]:
UL_train_Num_unq_sum=pd.merge(Train_msno['msno'], df.groupby('msno').sum(), on='msno', how='left')

In [42]:
UL_train_Num_unq_sum

                                                msno  num_unq
0       +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=  51705.0
1       +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=   1467.0
2       +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=  13715.0
3       +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=  23025.0
4       ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=   3540.0
...                                              ...      ...
956322  zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=   4004.0
956323  zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=  25712.0
956324  zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=   2432.0
956325  zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=   3723.0
956326  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=      NaN

[956327 rows x 2 columns]

In [43]:
np.array(UL_train_Num_unq_sum['num_unq'])

array([51705.,  1467., 13715., ...,  2432.,  3723.,    nan])

In [44]:
np.save('UL_train_Num_unq_sum',np.array(UL_train_Num_unq_sum['num_unq']))

#### total_sec_sum:

In [45]:
listdir('Train_copy/total_sec_sum')

['user_logs_total_sec_sum3.csv',
 'user_logs_total_sec_sum5.csv',
 'user_logs_total_sec_sum.csv',
 'user_logs_total_sec_sum6.csv',
 'user_logs_total_sec_sum4.csv',
 'user_logs_total_sec_sum2.csv']

In [46]:
#https://stackoverflow.com/a/51118604
from os import listdir

path = 'Train_copy/total_sec_sum/'
filepaths = [path+f for f in listdir('Train_copy/total_sec_sum') if f.endswith('.csv')]
df = pd.concat(map(pd.read_csv, filepaths))

In [47]:
UL_train_total_sec_sum=pd.merge(Train_msno['msno'], df.groupby('msno').sum(), on='msno', how='left')

In [48]:
UL_train_total_sec_sum

                                                msno    total_secs
0       +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=  1.416846e+07
1       +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=  4.054801e+05
2       +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=  3.674449e+06
3       +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=  6.343519e+06
4       ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=  1.300895e+06
...                                              ...           ...
956322  zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=  9.182462e+05
956323  zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=  7.183248e+06
956324  zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=  6.359676e+05
956325  zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=  7.636781e+05
956326  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=           NaN

[956327 rows x 2 columns]

In [49]:
np.array(UL_train_total_sec_sum['total_secs'])

array([14168455.608,   405480.077,  3674449.457, ...,   635967.599,
         763678.106,          nan])

In [50]:
np.save('UL_train_total_sec_sum',np.array(UL_train_total_sec_sum['total_secs']))

### Load all the files

In [51]:
import numpy as np

UL_train_Num25_sum=np.load('UL_train_Num25_sum.npy')
UL_train_Num50_sum=np.load('UL_train_Num50_sum.npy')
UL_train_Num75_sum=np.load('UL_train_Num75_sum.npy')
UL_train_Num985_sum=np.load('UL_train_Num985_sum.npy')
UL_train_Num100_sum=np.load('UL_train_Num100_sum.npy')
UL_train_Num100_count=np.load('UL_train_Num100_count.npy')
UL_train_Num_unq_sum=np.load('UL_train_Num_unq_sum.npy')
UL_train_total_sec_sum=np.load('UL_train_total_sec_sum.npy')

In [52]:
UL_train_Num25_sum[0]

709.0

In [53]:
UL_train_Num100_count[0]

582.0

In [54]:
#calculate mean
UL_train_Num25_mean=UL_train_Num25_sum/UL_train_Num100_count
UL_train_Num50_mean=UL_train_Num50_sum/UL_train_Num100_count
UL_train_Num75_mean=UL_train_Num75_sum/UL_train_Num100_count
UL_train_Num985_mean=UL_train_Num985_sum/UL_train_Num100_count
UL_train_Num100_mean=UL_train_Num100_sum/UL_train_Num100_count
UL_train_Num_unq_mean=UL_train_Num_unq_sum/UL_train_Num100_count
UL_train_total_sec_mean=UL_train_total_sec_sum/UL_train_Num100_count

In [55]:
UL_all_months_train=np.vstack((UL_train_Num25_sum,UL_train_Num50_sum,UL_train_Num75_sum,UL_train_Num985_sum,UL_train_Num100_sum,UL_train_Num100_count,UL_train_Num_unq_sum,UL_train_total_sec_sum,UL_train_Num25_mean,UL_train_Num50_mean,UL_train_Num75_mean,UL_train_Num985_mean,UL_train_Num100_mean,UL_train_Num_unq_mean,UL_train_total_sec_mean))

In [56]:
UL_all_months_train.T.shape

(956327, 15)

In [57]:
UL_all_months_train=UL_all_months_train.T

In [58]:
UL_all_months_train.shape

(956327, 15)

In [59]:
np.save('UL_all_months_train',UL_all_months_train)

## Last month:

### Chunk 1:

In [3]:
#There are 410 million rows in user_logs file, read only a part of it to fit in RAM.
import pandas as pd

user_logs=pd.read_csv('user_logs.csv',nrows=80000000)

In [4]:
Train_UL=pd.merge(Train_msno, user_logs, on='msno', how='left')

In [5]:
Train_UL

,msno,Label,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150211.0,2.0,0.0,0.0,0.0,105.0,60.0,25033.939
1,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150411.0,0.0,0.0,0.0,0.0,136.0,130.0,33367.720
2,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150603.0,1.0,0.0,0.0,0.0,139.0,128.0,31683.920
3,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150729.0,1.0,0.0,0.0,0.0,106.0,101.0,27200.851
4,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150923.0,0.0,0.0,1.0,0.0,104.0,100.0,27332.639
...,...,...,...,...,...,...,...,...,...,...
49602735,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20150621.0,3.0,0.0,0.0,1.0,10.0,13.0,2929.059
49602736,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20160208.0,70.0,3.0,1.0,4.0,25.0,92.0,8820.611
49602737,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20160813.0,3.0,0.0,0.0,0.0,0.0,3.0,263.889
49602738,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20161207.0,2.0,0.0,0.0,1.0,19.0,22.0,5580.843
49602739,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#left join preserves order of msno. so don't need to sort

### Select User Logs in December:

In [6]:
#https://stackoverflow.com/questions/38884466/how-to-select-a-range-of-values-in-a-pandas-dataframe-column
#select december dates
Train_UL=Train_UL[Train_UL['date'].between(20161201, 20161231)]

In [7]:
Train_UL

,msno,Label,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
11,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20161224.0,2.0,0.0,1.0,0.0,25.0,28.0,5773.013
23,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20161225.0,0.0,0.0,0.0,0.0,125.0,125.0,29907.168
35,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20161226.0,1.0,0.0,0.0,0.0,142.0,140.0,34851.820
47,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20161227.0,0.0,0.0,0.0,0.0,142.0,138.0,34282.619
59,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20161228.0,0.0,0.0,1.0,0.0,130.0,129.0,31645.196
...,...,...,...,...,...,...,...,...,...,...
49602722,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20161202.0,1.0,0.0,0.0,1.0,8.0,8.0,3074.165
49602726,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20161204.0,3.0,1.0,2.0,2.0,17.0,25.0,5272.919
49602730,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20161205.0,0.0,1.0,0.0,0.0,8.0,8.0,4568.631
49602734,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20161206.0,1.0,0.0,0.0,0.0,3.0,3.0,1540.965
49602738,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20161207.0,2.0,0.0,0.0,1.0,19.0,22.0,5580.843

### Sum features:

In [8]:
user_logs_num25_sum=Train_UL.groupby(['msno'])['num_25'].sum()
user_logs_num50_sum=Train_UL.groupby(['msno'])['num_50'].sum()
user_logs_num75_sum=Train_UL.groupby(['msno'])['num_75'].sum()
user_logs_num985_sum=Train_UL.groupby(['msno'])['num_985'].sum()
user_logs_num100_sum=Train_UL.groupby(['msno'])['num_100'].sum()
user_logs_num_unq_sum=Train_UL.groupby(['msno'])['num_unq'].sum()
user_logs_total_sec_sum=Train_UL.groupby(['msno'])['total_secs'].sum()

In [9]:
user_logs_num25_sum.to_csv('mon_user_logs_num25_sum.csv') #mon=last_month
user_logs_num50_sum.to_csv('mon_user_logs_num50_sum.csv')
user_logs_num75_sum.to_csv('mon_user_logs_num75_sum.csv')
user_logs_num985_sum.to_csv('mon_user_logs_num985_sum.csv')
user_logs_num100_sum.to_csv('mon_user_logs_num100_sum.csv')
user_logs_num_unq_sum.to_csv('mon_user_logs_num_unq_sum.csv')
user_logs_total_sec_sum.to_csv('mon_user_logs_total_sec_sum.csv')

### Count feature:

In [10]:
#count feature
user_logs_num100_mean=Train_UL.groupby(['msno'])['num_100'].count()

In [11]:
user_logs_num100_mean.to_csv('mon_user_logs_num100_mean.csv')

### Standard deviation Feature:

In [13]:
user_logs_num25_std=Train_UL.groupby(['msno'])['num_25'].std()
user_logs_num50_std=Train_UL.groupby(['msno'])['num_50'].std()
user_logs_num75_std=Train_UL.groupby(['msno'])['num_75'].std()
user_logs_num985_std=Train_UL.groupby(['msno'])['num_985'].std()
user_logs_num100_std=Train_UL.groupby(['msno'])['num_100'].std()
user_logs_num_unq_std=Train_UL.groupby(['msno'])['num_unq'].std()
user_logs_total_sec_std=Train_UL.groupby(['msno'])['total_secs'].std()

In [14]:
user_logs_num25_std.to_csv('mon_user_logs_num25_std.csv') #mon=last_month
user_logs_num50_std.to_csv('mon_user_logs_num50_std.csv')
user_logs_num75_std.to_csv('mon_user_logs_num75_std.csv')
user_logs_num985_std.to_csv('mon_user_logs_num985_std.csv')
user_logs_num100_std.to_csv('mon_user_logs_num100_std.csv')
user_logs_num_unq_std.to_csv('mon_user_logs_num_unq_std.csv')
user_logs_total_sec_std.to_csv('mon_user_logs_total_sec_std.csv')

In [15]:
user_logs_num25_sum #only 422042 users info are there in this chunk

msno
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=      3.0
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=     58.0
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=     15.0
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=     16.0
++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=     36.0
                                                ...
zzxqpgPX1epGyR3SVRKb3XitWdt+JqDURxV5ea1D7Cg=     62.0
zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=    167.0
zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=     27.0
zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=      4.0
zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=      8.0
Name: num_25, Length: 406402, dtype: float64

In [16]:
user_logs_num25_sum['+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=']

3.0

In [ ]:
#repeat for remaining chunks

## Last 15 days:

In [73]:
2017*365+2*30.4167+12-(2017*365+1*30.4167+27)

15.416700000059791

### Chunk 1:

In [4]:
#There are 410 million rows in user_logs file, read only a part of it to fit in RAM.
import pandas as pd

user_logs=pd.read_csv('Case_study_2/user_logs.csv',nrows=80000000)

In [5]:
Train_UL=pd.merge(Train_msno, user_logs, on='msno', how='left')

In [7]:
#keeping NaN is important for sum and mean calculation. Sum, avg and std skips NaN values.

In [6]:
Train_UL

,msno,Label,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150211.0,2.0,0.0,0.0,0.0,105.0,60.0,25033.939
1,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150411.0,0.0,0.0,0.0,0.0,136.0,130.0,33367.720
2,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150603.0,1.0,0.0,0.0,0.0,139.0,128.0,31683.920
3,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150729.0,1.0,0.0,0.0,0.0,106.0,101.0,27200.851
4,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20150923.0,0.0,0.0,1.0,0.0,104.0,100.0,27332.639
...,...,...,...,...,...,...,...,...,...,...
49602735,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20150621.0,3.0,0.0,0.0,1.0,10.0,13.0,2929.059
49602736,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20160208.0,70.0,3.0,1.0,4.0,25.0,92.0,8820.611
49602737,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20160813.0,3.0,0.0,0.0,0.0,0.0,3.0,263.889
49602738,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,20161207.0,2.0,0.0,0.0,1.0,19.0,22.0,5580.843
49602739,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#left join preserves order of msno. so don't need to sort

### Select user logs last half month december:

In [9]:
#https://stackoverflow.com/questions/38884466/how-to-select-a-range-of-values-in-a-pandas-dataframe-column
#select january and december dates
Train_UL=Train_UL[Train_UL['date'].between(20161216, 20161231)]

In [10]:
Train_UL

,msno,Label,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
11,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20161224.0,2.0,0.0,1.0,0.0,25.0,28.0,5773.013
23,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20161225.0,0.0,0.0,0.0,0.0,125.0,125.0,29907.168
35,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20161226.0,1.0,0.0,0.0,0.0,142.0,140.0,34851.820
47,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20161227.0,0.0,0.0,0.0,0.0,142.0,138.0,34282.619
59,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,20161228.0,0.0,0.0,1.0,0.0,130.0,129.0,31645.196
...,...,...,...,...,...,...,...,...,...,...
49602558,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,1,20161217.0,22.0,3.0,2.0,8.0,58.0,54.0,15781.199
49602682,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,1,20161221.0,1.0,0.0,0.0,0.0,8.0,8.0,2101.024
49602686,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,1,20161224.0,0.0,0.0,0.0,1.0,0.0,1.0,270.966
49602690,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,1,20161226.0,2.0,0.0,0.0,0.0,0.0,2.0,51.318
49602694,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,1,20161231.0,1.0,0.0,0.0,2.0,7.0,9.0,2247.724

In [ ]:
#A user may continue to use KKBOX for free(free tier) after his membership expiry. 
#So there may be logs in jan after expiry date which shouldn't be considered.

### Sum features:

In [11]:
user_logs_num25_sum=Train_UL.groupby(['msno'])['num_25'].sum()
user_logs_num50_sum=Train_UL.groupby(['msno'])['num_50'].sum()
user_logs_num75_sum=Train_UL.groupby(['msno'])['num_75'].sum()
user_logs_num985_sum=Train_UL.groupby(['msno'])['num_985'].sum()
user_logs_num100_sum=Train_UL.groupby(['msno'])['num_100'].sum()
user_logs_num_unq_sum=Train_UL.groupby(['msno'])['num_unq'].sum()
user_logs_total_sec_sum=Train_UL.groupby(['msno'])['total_secs'].sum()

In [12]:
user_logs_num25_sum.to_csv('L15_user_logs_num25_sum.csv') #L5=last 15 days
user_logs_num50_sum.to_csv('L15_user_logs_num50_sum.csv')
user_logs_num75_sum.to_csv('L15_user_logs_num75_sum.csv')
user_logs_num985_sum.to_csv('L15_user_logs_num985_sum.csv')
user_logs_num100_sum.to_csv('L15_user_logs_num100_sum.csv')
user_logs_num_unq_sum.to_csv('L15_user_logs_num_unq_sum.csv')
user_logs_total_sec_sum.to_csv('L15_user_logs_total_sec_sum.csv')

### Count feature:

In [13]:
#count feature
user_logs_num100_mean=Train_UL.groupby(['msno'])['num_100'].count()

In [14]:
user_logs_num100_mean.to_csv('L15_user_logs_num100_mean.csv')

### Standard deviation features:

In [15]:
user_logs_num25_std=Train_UL.groupby(['msno'])['num_25'].std()
user_logs_num50_std=Train_UL.groupby(['msno'])['num_50'].std()
user_logs_num75_std=Train_UL.groupby(['msno'])['num_75'].std()
user_logs_num985_std=Train_UL.groupby(['msno'])['num_985'].std()
user_logs_num100_std=Train_UL.groupby(['msno'])['num_100'].std()
user_logs_num_unq_std=Train_UL.groupby(['msno'])['num_unq'].std()
user_logs_total_sec_std=Train_UL.groupby(['msno'])['total_secs'].std()

In [16]:
user_logs_num25_std.to_csv('user_logs_L15_num25_std.csv')
user_logs_num50_std.to_csv('user_logs_L15_num50_std.csv')
user_logs_num75_std.to_csv('user_logs_L15_num75_std.csv')
user_logs_num985_std.to_csv('user_logs_L15_num985_std.csv')
user_logs_num_unq_std.to_csv('user_logs_L15_num_unq_std.csv')
user_logs_total_sec_std.to_csv('user_logs_L15_total_sec_std.csv')

In [17]:
user_logs_num25_std

In [18]:
user_logs_num25_sum #only 275625 users info are there in this chunk

msno
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=     3.0
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=     4.0
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=    16.0
++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=    15.0
++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=    18.0
                                                ...
zztb7cCNxnkeZ33rHQ0Z3cnshdE8gn/nwMTiNP49b4o=    31.0
zzvB5JRK4WBwtKJoNtnNF34r5dUAuenPpR9xrxdfMSI=    12.0
zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=     0.0
zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=    25.0
zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=     4.0
Name: num_25, Length: 275625, dtype: float64

In [19]:
user_logs_num25_sum['+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=']

3.0

In [ ]:
#repeat for remaining chunks

## Final user_log feature:

In [ ]:
import pandas as pd

user_logs=pd.read_csv('user_logs.csv',nrows=80000000)

In [5]:
Train_UL=pd.merge(Train_msno, user_logs, on='msno', how='left')

In [6]:
#select january dates
Train_UL=Train_UL[Train_UL['date']==20161231]

In [7]:
Train_UL

,msno,Label,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
307,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,1,20161231.0,5.0,8.0,4.0,2.0,13.0,26.0,4651.419
712,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,1,20161231.0,0.0,0.0,0.0,0.0,6.0,6.0,1272.000
922,++3Z+W8OPnpbHYfrKwqRKN1bF83XEbxjdYUolhGdHZg=,1,20161231.0,18.0,1.0,2.0,0.0,14.0,19.0,4435.640
970,++3fWHRDC5GWWlovHcrOKWNwZYOjWWkJyeLlL65uv78=,1,20161231.0,0.0,2.0,0.0,0.0,61.0,48.0,11374.038
1305,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,1,20161231.0,2.0,0.0,0.0,1.0,40.0,35.0,9516.530
...,...,...,...,...,...,...,...,...,...,...
49599768,zzlcbpoKog6kvPihC0k0kEP0fN9pRC71yrrtE6BQVdc=,1,20161231.0,28.0,2.0,1.0,3.0,16.0,49.0,4952.683
49599862,zzm2UvJnzuTRkXaiaZHtbJwPG9jZQZkZxG0n4PYDTvw=,1,20161231.0,0.0,0.0,0.0,0.0,9.0,8.0,2229.000
49601446,zzsusjoGJ6jH+qVF5cMfJGphBO7MR4P4P1rD7qxITX0=,1,20161231.0,0.0,0.0,0.0,0.0,40.0,40.0,9567.614
49601649,zztb7cCNxnkeZ33rHQ0Z3cnshdE8gn/nwMTiNP49b4o=,1,20161231.0,4.0,1.0,0.0,0.0,75.0,78.0,18800.882
49602694,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,1,20161231.0,1.0,0.0,0.0,2.0,7.0,9.0,2247.724

In [8]:
Train_UL.to_csv('UL_final_day_1.csv')

In [ ]:
#repeat for remaining chunks

In [4]:
#https://stackoverflow.com/a/51118604
from os import listdir

path = 'Train_copy/Ul_fi/'
filepaths = [path+f for f in listdir('Train_copy/Ul_fi') if f.endswith('.csv')]
df = pd.concat(map(pd.read_csv, filepaths))

In [5]:
df #only less than half the users have logs on their expiry date

,Unnamed: 0,msno,Label,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,307,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,1,20161231.0,5.0,8.0,4.0,2.0,13.0,26.0,4651.419
1,712,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,1,20161231.0,0.0,0.0,0.0,0.0,6.0,6.0,1272.000
2,922,++3Z+W8OPnpbHYfrKwqRKN1bF83XEbxjdYUolhGdHZg=,1,20161231.0,18.0,1.0,2.0,0.0,14.0,19.0,4435.640
3,970,++3fWHRDC5GWWlovHcrOKWNwZYOjWWkJyeLlL65uv78=,1,20161231.0,0.0,2.0,0.0,0.0,61.0,48.0,11374.038
4,1305,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,1,20161231.0,2.0,0.0,0.0,1.0,40.0,35.0,9516.530
...,...,...,...,...,...,...,...,...,...,...,...
89158,49607190,zzuGxQfF86Zsx5nqF1Yh+oJpEIfdjFKKYpTqFZMdxzk=,1,20161231.0,1.0,0.0,1.0,0.0,8.0,2.0,1657.772
89159,49607270,zzv/igs0VigNppe7WR8qgz1h6aXFFzQLu5paAswIbcQ=,1,20161231.0,3.0,0.0,1.0,1.0,95.0,91.0,25433.592
89160,49607511,zzwlIVmSuehTevzOi+WkcC7b3+MBYDiE4qybszTyhII=,1,20161231.0,1.0,1.0,0.0,0.0,18.0,20.0,4154.949
89161,49607670,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,1,20161231.0,18.0,5.0,3.0,3.0,48.0,66.0,14269.269
89162,49608078,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,0,20161231.0,0.0,0.0,0.0,1.0,173.0,100.0,38760.877

In [6]:
df=pd.merge(Train_msno['msno'], df, on='msno', how='left')

In [7]:
df

,msno,Unnamed: 0,Label,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,130,1,20161231.0,4.0,1.0,2.0,2.0,21.0,21.0,6005.723
2,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,206,1,20161231.0,1.0,1.0,0.0,1.0,13.0,16.0,3405.733
3,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,307,1,20161231.0,5.0,8.0,4.0,2.0,13.0,26.0,4651.419
4,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,422,1,20161231.0,0.0,0.0,1.0,0.0,24.0,2.0,5680.686
...,...,...,...,...,...,...,...,...,...,...,...
956322,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,49601191,1,20161231.0,11.0,2.0,0.0,1.0,8.0,22.0,2157.864
956323,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,49608078,0,20161231.0,0.0,0.0,0.0,1.0,173.0,100.0,38760.877
956324,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,49602694,1,20161231.0,1.0,0.0,0.0,2.0,7.0,9.0,2247.724
956325,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
956326,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df=df.drop(['Unnamed: 0','Label','date','msno'],axis=1)

In [10]:
df.head()

   num_25  num_50  num_75  num_985  num_100  num_unq  total_secs
0     NaN     NaN     NaN      NaN      NaN      NaN         NaN
1     4.0     1.0     2.0      2.0     21.0     21.0    6005.723
2     1.0     1.0     0.0      1.0     13.0     16.0    3405.733
3     5.0     8.0     4.0      2.0     13.0     26.0    4651.419
4     0.0     0.0     1.0      0.0     24.0      2.0    5680.686

In [11]:
np.save('final_day_log',np.array(df)) #log of the expiry date